<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/jpeg" href="./icon.jpeg" />
        <meta name="viewport" content="width=device-width" />
        <title>Tyler Ohlenforst</title>
        <meta name="description" content="Tyler Ohlenforst's Resume" />
        <link rel="stylesheet" href="./lib/sanitize.css@13.0.0.css" />
        <link rel="stylesheet" href="./styles/variables.css" />
        <link rel="stylesheet" href="./styles/main.css" />
        <link rel="stylesheet" href="./styles/icons.css" />
        <script src="./lib/htmx.org@1.9.8.min.js"></script>
    </head>
    <body>
        <div id="resume">
            <div style="background-color: var(--primary); color: var(--text-light); padding: 8px;">
                <div hx-get="./sections/info.html" hx-trigger="load"></div>
                <hr>
                <div hx-get="./sections/employment.html" hx-trigger="load"></div>
                <hr>
                <div hx-get="./sections/education.html" hx-trigger="load"></div>
            </div>
            <div style="background-color: var(--secondary); color: var(--text-dark); padding: 8px 16px;" >
                <div hx-get="./sections/experience.html" hx-trigger="load"></div>
            </div>
        </div>
        <div hx-get="./sections/utilities.html" hx-trigger="load"></div>
    </body>
</html>
