@font-face{ 
    font-family: 'Roboto';
    src: url('../lib/Roboto-Regular.woff') format('woff');
}
@font-face{ 
    font-family: 'Roboto';
    src: url('../lib/Roboto-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face{ 
    font-family: 'Roboto';
    src: url('../lib/Roboto-Italic.woff') format('woff');
    font-style: italic;
}
@font-face{ 
    font-family: 'Roboto';
    src: url('../lib/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
       
body {
    font-smoothing: subpixel-antialiased;
    background-color: var(--background);
}

a {
    color: var(--text-light);
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, var(--primary), var(--text-light), var(--primary));
    margin-top: 20px;
    margin-bottom: 20px;
}

ul { list-style-type:circle; }

::selection {
    background: var(--highlight);
    color: var(--text-dark) !important;
}

#resume {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 2.6in 5.9in;
    width: 8.5in;
    height: 11in;
    margin: auto;
}

@page {
    margin: 0;
    size: 8.5in 11in;
}